.card {
    margin: 1em auto;
    text-align: left;
    padding: 20px;
    background-color: salmon;
    max-width: 350px;

}
body {
    background-image: url(/assets/background.png);
    font-family: 'Nunito Sans', sans-serif;
    color: white ;
}
h1 {
    font-weight: bold;
}
.navbar {
    background-color: salmon;
}

.lvl {
    float: right;
}